@{
    ViewData["Title"] = "Maker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<iframe width="100%" height="500px" src="~/Photo-Collage-Maker-master/public/index.html"></iframe>*@
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Collage.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">

    <script src="~/Photo-Collage-Maker-master/public/vendor/js/fabric.js"></script>
    <script src="~/Photo-Collage-Maker-master/public/js/script.js"></script>
</head>


<div class="canvas_control">

    <div class="canvas_info">
        Photo Collage App
    </div>

    <div id="canvasWrap" class="canvasWrap">
        <canvas id="canvas" class="canvas_collage" width="800" height="450"></canvas>
    </div>
</div>

@*<div class="canvas_helper">*@
@*</div>*@


<img src="" id="img_drop" style="display:none;">

<!--Bottom Row Navigation-->
<div class="container-fluid img-nav">
    <div class="row">
        <!--Image nav Bar -->
        <div class="col-xs-6 col-md-3">
            <div class="input-wrapper">
                <label for="imginput">
                    <div class="uploadbtn">Upload</div>
                </label>
                <input type="file" id="imginput" class="imginput" name="imginput" accept="image/*"
                       onchange="displayimg(event)">
                <a href="#" class="btn btn-info" id="download" role="button">Download</a>
            </div>
        </div>

    </div>
</div>

<script>
    //window.onload = function() {
    //    document.getElementById("nav_collages").classList.add("active");
    //}
</script>