@{
    ViewData["Title"] = "Home Page";
}
@*<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard v2</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v2</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>*@
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="img-container">
                    <img src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" class="img-lrg" alt="Image">
                    <div class="centered">
                        <div class="row">
                            <div class="col-sm-6">
                                <center>
                                    <h1> <i class="note-icon-table"></i></h1><hr />
                                    <span>Templates</span>
                                    <span>1412</span>

                                </center>
                            </div>
                            <div class="col-sm-6">
                                <center>
                                    <h1> <i class="note-icon-picture"></i></h1><hr />
                                    <span>Images</span>
                                    <span>114,381</span>
                                </center>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>       <hr />
        <center><b><h1>Templates</h1></b></center>
        <div class="gallery">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
                        </div>
                        <input type="text" class="form-control" required placeholder="Enter text to search" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
                        </div>
                        <select class="form-control">
                            <option selected disabled>Show Entries</option>
                            <option>20</option>
                            <option>50</option>
                            <option>75</option>
                            <option>100</option>
                            <option>150</option>
                            <option>200</option>
                            <option >All</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
                        </div>
                        <select class="form-control">
                            <option selected disabled>Filter By</option>
                            <option>Template Name</option>
                            <option>Total Images</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="Images_Grid">
            </div>
        </div>
    </div>
</section>
<script>
    function Load() {
        document.getElementById("Images_Grid").innerHTML = '<center><span>Loading... <i class="spinner fa fa-sync fa-spin"></i></span></center>';
        $("#Images_Grid").load("/Images/GetTemplates");
    }
    window.onload = function() {
        document.getElementById("nav_gallery").classList.add("active");
        Load();
    }
</script>