<div class="row">
    <div class="col-sm-4">
        <div class="info-box grid-box" onclick="location.href='/Images/Template'">
            <div class="info-box-content">
                <center><b><small>Template Title</small></b></center>
                <div class="row">
                    <div class="col-sm-12">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/PjLAO_W3HZ8" title="Collage " Village scene"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin" >
                        <img class="gridImage" src="~/dist/img/image-placeholder.svg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-4">
        <div class="info-box grid-box" onclick="location.href='/Images/Template'">
            <div class="info-box-content grid-box">
                <center><b><small>Template Title</small></b></center>
                <div class="row">
                    <div class="col-sm-12">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/PjLAO_W3HZ8" title="Collage " Village scene"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin" >
                        <img class="gridImage" src="~/dist/img/image-placeholder.svg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-4">
        <div class="info-box grid-box" onclick="location.href='/Images/Template'">
            <div class="info-box-content grid-box">
                <center><b><small>Template Title</small></b></center>
                <div class="row">
                    <div class="col-sm-12">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ddjwGhEcgxU" title="Collage " Village scene"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin" >
                        <img class="gridImage" src="~/dist/img/image-placeholder.svg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-4">
        <div class="info-box grid-box" onclick="location.href='/Images/Template'">
            <div class="info-box-content grid-box">
                <center><b><small>Template Title</small></b></center>
                <div class="row">
                    <div class="col-sm-12">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sVmCe4HDLUg" title="Collage " Village scene"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin" >
                        <img class="gridImage" src="~/dist/img/image-placeholder.svg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-4">
        <div class="info-box grid-box" onclick="location.href='/Images/Template'">
            <div class="info-box-content grid-box">
                <center><b><small>Template Title</small></b></center>
                <div class="row">
                    <div class="col-sm-12">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/byJM_r_NIg4" title="Collage " Village scene"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin" >
                        <img class="gridImage" src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" alt="Image">
                    </div>
                    <div class="col-sm-4 gridImage-margin">
                        <img class="gridImage" src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
   
</div>