
<table class="table table-hover text-nowrap">
    <thead style="border-bottom-width:0.01px;">
        <tr>
            <th style="border-bottom-width:0.01px;" class="project_title td_size">Name</th>
            <th style="border-bottom-width:0.01px;" class="project_title td_size">Type</th>
            <th style="border-bottom-width:0.01px;" class="project_title td_size">Edited</th>
            <th style="border-bottom-width:0.01px;" class="project_title td_size"></th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor:pointer" >
            <td onclick="redirect_blank('/Images/Editor')">
                <img src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" style="border-radius:6px;" width="45" height="45" alt="Image">
                <span class="project_title td_size">Untitled</span>
            </td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">Image</td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">11 days ago</td>
            <td class="td_pad td_size" style="right:0">
                <button class="btn btn-default" onclick="loadView('/Projects/Edit','myModal','myModalContent')"><small>Edit</small></button>
                <button class="btn btn-danger" onclick="loadView('/Projects/Delete','myModal','myModalContent')"><small>Delete</small></button>
            </td>
        </tr>
        <tr style="cursor:pointer">
            <td onclick="redirect_blank('/Images/Editor')">
                <img src="~/dist/img/image-placeholder.svg" style="border-radius:6px;" width="45" height="45" alt="Image">
                <span class="project_title td_size">Untitled</span>
            </td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">Video</td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">8 days ago</td>
            <td class="td_pad td_size">
                 <button class="btn btn-default" onclick="loadView('/Projects/Edit','myModal','myModalContent')"><small>Edit</small></button>
                <button class="btn btn-danger" onclick="loadView('/Projects/Delete','myModal','myModalContent')"><small>Delete</small></button>
            </td>
        </tr>
        <tr style="cursor:pointer" >
            <td onclick="redirect_blank('/Images/Editor')">
                <img src="~/dist/img/anita-austvika-chRIgTHFBy0-unsplash.jpg" style="border-radius:6px;" width="45" height="45" alt="Image">
                <span class="project_title td_size">Untitled</span>
            </td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">Image</td>
            <td onclick="redirect_blank('/Images/Editor')" class="td_pad td_size">8 days ago</td>
            <td class="td_pad td_size">
                <button class="btn btn-default" onclick="loadView('/Projects/Edit','myModal','myModalContent')"><small>Edit</small></button>
                <button class="btn btn-danger" onclick="loadView('/Projects/Delete','myModal','myModalContent')"><small>Delete</small></button>
            </td>
        </tr>
    </tbody>
</table>