
<div class="modal-header">
    <h4 class="modal-title">New Event</h4>
    <button onclick="hideView('myModal')" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="CreateEvent" method="post">
    <div class="modal-body">
        <div class="text-danger">@ViewBag.Message</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
            </div>
            <input type="text" class="form-control" required placeholder="Event Name" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-sort-alpha-up" style="color:#17a2b8"></i></span>
            </div>
            <input type="text" class="form-control" required placeholder="Description" />
        </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar" style="color:#17a2b8"></i></span>
            </div>
            <input type="date" class="form-control" required placeholder="Date" />
        </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-th-list" style="color:#17a2b8"></i></span>
            </div>
            <input type="color" class="form-control" required placeholder="Color" />
        </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-file" style="color:#17a2b8"></i></span>
            </div>
            <input type="file" class="form-control" required multiple/>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" onclick="hideView('myModal')" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" onclick="hideView('myModal')" class="btn btn-info"><i class="fa fa-plus"></i> Add</button>
    </div>
</form>            