@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="border-radius:2px; height:230px;background-image: linear-gradient(to bottom right, #00c4cc , #7d2ae7);">
                <br /><center>
                    <h3 style="color:#fff ;font-family:Comic Sans">What will you design today?</h3>
                </center><br />
                <center>
                    <input style="width:70%" type="text" class="form-control" placeholder="Search content or canvas's'" />
                </center><br />
                <center>
                    <div class="gallery_item_blue item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M11.26 7.49c0-.36-.35-.45-.35-.45-1.55-.49-2.49-1.43-2.98-2.99 0 0-.06-.34-.45-.34-.38 0-.44.34-.44.34-.49 1.56-1.42 2.5-2.98 2.99 0 0-.35.09-.35.45s.35.45.35.45c1.56.49 2.49 1.43 2.98 2.99 0 0 .06.34.45.34.38-.01.45-.34.45-.34.49-1.56 1.42-2.5 2.98-2.99 0 .01.34-.08.34-.45 0 .01 0 .01 0 0zm17.06 8.46c0-.53-.44-.88-.94-1 0 0-3.96-1.34-5.43-2.25-.98-.48-1.91-1.45-2.5-2.41v.01c-.89-1.16-2.39-5.73-2.39-5.73-.18-.59-.52-.93-1.05-.94v.04L16 3.63c-.53 0-.88.44-1 .94 0 0-1.34 3.96-2.25 5.43-.48.98-1.45 1.91-2.41 2.5h.01c-1.16.89-5.73 2.39-5.73 2.39-.59.18-.93.52-.94 1.05l.06.01h-.06c0 .53.44.88.94 1 0 0 3.96 1.34 5.43 2.25.98.48 1.91 1.45 2.5 2.41v-.01c.89 1.16 2.39 5.73 2.39 5.73.18.59.52.93 1.05.94l.01-.07.01.07c.53 0 .88-.44 1-.94 0 0 1.34-3.96 2.25-5.43.48-.98 1.45-1.91 2.41-2.5h-.01c1.16-.89 5.73-2.39 5.73-2.39.59-.18.93-.52.94-1.05l-.08-.01h.07zm-.26 8.99c-.47-.24-.92-.58-1.31-.97s-.73-.85-.97-1.31c0 0-.11-.24-.39-.24s-.39.24-.39.24c-.24.47-.58.92-.97 1.31s-.85.73-1.31.97c0 0-.24.11-.24.39s.24.39.24.39c.47.24.92.58 1.31.97s.73.85.97 1.31c0 0 .11.24.39.24s.39-.24.39-.24c.24-.47.58-.92.97-1.31s.85-.73 1.31-.97c0 0 .24-.11.24-.39s-.24-.39-.24-.39z" fill="currentColor"></path></svg>
                        <small><b style="color:white">For</b></small>
                    </div>
                    <div class="gallery_item_cyan item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="M80.7 23.1c-.1-3.9-2.3-7.4-5.5-9.6-1.9-1.3-4.2-2.2-6.6-2.2-6.2-.3-12.5-.3-18.8-.3H40.2c-.1 0-.2.1-.3.1-4.2 0-8.4.1-12.6.2-6.3.2-11.7 5.6-12 11.8-.1 4.1-.3 17.7-.3 20.1 0 2.3-.1 4.7 0 7 0 7.6.1 15.2.3 22.8.1 3.9 2.3 7.4 5.5 9.6 1.9 1.3 4.2 2.2 6.6 2.2 6.2.2 12.5.2 18.8.2H55.8c.1 0 .2-.1.3-.1 4.2 0 8.4-.1 12.6-.2 6.3-.2 11.7-5.6 12-11.8.1-4.1.1-8.3.2-12.4 0-.1.1-.3.1-.4v-7.3c0-2.3.1-4.7 0-7 0-7.6-.1-15.1-.3-22.7zm-47.4 23c2.2 0 4.1 1.8 4.1 4s-1.8 4-4.1 4c-2.2 0-4.1-1.8-4.1-4s1.8-4 4.1-4zm-4-7.5c0-2.2 1.8-4 4.1-4h29.2c2.3 0 4.1 1.8 4.1 4s-1.8 4-4.1 4H33.4c-2.3.1-4.1-1.7-4.1-4zM62.9 71H33c-3.5 0-4.8-3.3-3-6l4-6.1c1.7-2.7 6.1-2.7 7.8 0l1.9 2.9 6.2-9.5c1.7-2.7 6.1-2.7 7.8 0L65.9 65c1.8 2.7.4 6-3 6zm-.3-39.9H33.3c-2.3 0-4.1-1.8-4.1-4s1.8-4 4.1-4h29.3c2.3 0 4.1 1.8 4.1 4s-1.8 4-4.1 4z"></path></svg>
                        <small style="color:white">Docs</small>
                    </div>
                    <div class="gallery_item_green item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="M82 16.5C77.5 12 69.7 12 54.7 12H41.8c-15.3 0-22.8 0-27.6 4.8-5.1 4.8-5.1 12.3-5.1 27.6v7.5c0 15.3 0 22.8 4.8 27.6 4.8 4.8 12.3 4.8 27.6 4.8h12.9c15.3 0 22.8 0 27.6-4.8 4.8-4.8 4.8-12.6 4.8-27.9v-7.5c.3-15 .3-23.1-4.8-27.6zM35.6 72.8H24c-2 0-3.5-1.6-3.5-3.5V57.7h7.4v7.8h7.8v7.3zm39.6-42v7.8h-7.4v-7.8H60v-7.4h11.7c1.9 0 3.4 1.6 3.5 3.5v3.9z"></path></svg>
                        <small style="color:white">Whiteboards</small>
                    </div>
                    <div class="gallery_item_yellow item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="M85.3 24.4c-.1-3.6-1.9-6.8-4.6-9-2.1-1.7-4.6-2.8-7.4-3-8.4-.3-16.8-.4-25.3-.4s-16.9.1-25.3.4c-2.7.1-5.2 1.2-7.3 2.9-2.7 2.2-4.6 5.5-4.7 9.1-.3 10.8-.3 21.6 0 32.3.2 6.3 5.6 11.8 12 12 4.8.2 9.5.2 14.3.2l-6.4 11.4c-.9 1.7.3 3.7 2.1 3.7h5.4c.9 0 1.7-.5 2.1-1.2l.7-1.2 4.8-8.5c1.1-1.9 3.8-1.9 4.9 0l5.4 9.7c.4.8 1.2 1.2 2.1 1.2h5.4c1.8 0 3-2 2.1-3.6l-2-3.5-4.4-7.9c4.7-.1 9.5-.1 14.2-.2 6.3-.2 11.8-5.7 12-12 .2-10.8.2-21.6-.1-32.4zM48 55.6c-8.2 0-14.9-6.7-14.9-15s6.7-15 14.9-15v15h15c0 8.3-6.7 15-15 15zm3.4-18.4v-15c8.2 0 15 6.7 15 15h-15z"></path></svg>
                        <small style="color:white">Social</small>
                    </div>

                    <div class="gallery_item_red item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="M85.5 24.5c-.3-6.3-5.7-11.7-12-12-16.8-.6-33.9-.6-51 0-6.3.3-11.7 5.7-12 12-.3 10.8-.3 21.6 0 32.4.3 6.3 5.7 11.7 12 12 4.2 0 8.4 0 12.6.3l7.5 10.5c3 4.2 7.8 4.2 10.8 0l7.5-10.5c4.2 0 8.4 0 12.6-.3 6.3-.3 11.7-5.7 12-12 .3-10.9.3-21.7 0-32.4zM65.9 40.9c-.3 1-.8 2-1.4 2.9-.9 1.6-4.6 6.7-14.4 13.9H46c-7.6-5.6-11.5-9.9-13.3-12.3-.4-.5-.7-.9-.9-1.2v-.1l-.1-.1c-.7-.9-1.2-1.9-1.5-3-.3-.9-.5-1.8-.5-2.7 0-.6.1-1.1.2-1.6.4-2.1 1.4-3.9 2.8-5.3 1.7-1.7 4-2.7 6.6-2.7 3.8 0 7.1 2.3 8.6 5.5h.1c1.5-3.2 4.8-5.5 8.6-5.5 5.3 0 9.6 4.3 9.6 9.6.1.9-.1 1.8-.3 2.6z"></path></svg>
                        <small style="color:white">Social</small>
                    </div>
                    <div class="gallery_item_purple item_margin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="m81.6 30-10.2 7.3c-.1-3.4-.1-6.9-.1-10.3-.2-6.3-5.6-11.7-11.9-11.9-13.7-.4-27.4-.4-41.2 0-6.3.2-11.7 5.6-11.9 11.9-.4 13.7-.4 27.4 0 41.1.2 6.3 5.6 11.7 11.9 11.9 13.7.4 27.4.4 41.2 0 6.3-.2 11.7-5.6 11.9-11.9.1-3.4.1-6.9.1-10.3L81.6 65c4.1 2.9 7.5 1.2 7.5-3.8V33.8c-.1-5-3.4-6.8-7.5-3.8zM49.1 52 33 61.3c-4.4 2.5-7.9.4-7.9-4.6V38.3c0-5 3.6-7.1 7.9-4.6L49.2 43c4.3 2.5 4.3 6.5-.1 9z"></path></svg>
                        <small style="color:white">Videos</small>
                    </div>
                    <div class="gallery_item_blue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 96 96"><path fill="currentColor" d="M82 16.4c-4.5-4.5-12.3-4.5-27.3-4.5H41.8c-15.3 0-22.8 0-27.6 4.8C9.1 21.5 9.1 29 9.1 44.3v7.5c0 15.3 0 22.8 4.8 27.6 4.8 4.8 12.3 4.8 27.6 4.8h12.9c15.3 0 22.8 0 27.6-4.8 4.8-4.8 4.8-12.6 4.8-27.9V44c.3-15 .3-23.1-4.8-27.6zM26.6 34.7c-3.3 0-5.7-2.1-5.7-5.7 0-3 2.4-5.7 5.7-5.7 3.3 0 5.7 2.4 5.7 5.7 0 3.3-2.4 5.7-5.7 5.7zm48.6 32.4c0 1.1-.4 2.1-1.3 3-1.7 1.7-4.1 1.7-5.8 0l-5.5-5.5-2 4.4c-1.2 2.9-5.2 2.9-6.1 0l-9-23c-.1-.4-.2-.7-.3-1.1v-.2.2c-.2-2.4 2.3-4.1 4.6-3.3l23 8.7c1.5.6 2.2 1.8 2.2 3.1 0 1.2-.7 2.5-2.2 3.1l-4.4 2.3 5.5 5.5c.9.7 1.3 1.7 1.3 2.8z"></path></svg>
                        <small style="color:white">Websites</small>
                    </div>
                </center>
            </div>
        </div><br />
        <h5><b>You might want to try..</b></h5>
        <div class="row">
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" style="border-radius:6px;width:100%;height:100%" alt="Image">
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video class="template-img" loop autoplay muted style="border-radius:6px;width:100%;height:100%">
                        <source src="~/dist/Videos/cat_walks_toward_camera_512kb.mp4"
                                type="video/mp4">
                        <source src="~/dist/Videos/cat_walks_toward_camera_512kb.ogg"
                                type="video/ogg">
                    </video>
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video loop autoplay muted style="border-radius:6px;width:100%;height:100%">
                        <source src="~/dist/Videos/Canvas.move_.mp4"
                                type="video/mp4">
                        <source src="~/dist/Videos/Canvas.move_.ogg"
                                type="video/ogg">
                    </video>
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/anita-austvika-chRIgTHFBy0-unsplash.jpg" style="border-radius:6px;width:100%;height:100%" alt="Image">
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video loop autoplay muted style="border-radius:6px; width:100%;height:100%">
                        <source src="~/dist/Videos/recording (1).webm"
                                type="video/mp4">
                    </video>
                </div><center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" class="template-img" style="border-radius:6px; width:100%;height:100%" alt="Image">
                </div><center style="font-size:12px;font-weight:600;">Title</center>
            </div>
        </div>
        <br />
        <h5><b>Recent designs</b></h5>
        <div class="row">
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video loop autoplay muted style="border-radius:6px;width:100%;height:100%">
                        <source src="~/dist/Videos/Canvas.move_.mp4"
                                type="video/mp4">
                        <source src="~/dist/Videos/Canvas.move_.ogg"
                                type="video/ogg">
                    </video>
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/tom-morbey-H7mzAJ8jTMg-unsplash.jpg" style="border-radius:6px;width:100%;height:100%" alt="Image">
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video loop autoplay muted style="border-radius:6px;width:100%;height:100%">
                        <source src="~/dist/Videos/cat_walks_toward_camera_512kb.mp4"
                                type="video/mp4">
                        <source src="~/dist/Videos/cat_walks_toward_camera_512kb.ogg"
                                type="video/ogg">
                    </video>
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/mitchell-orr-2G4_KMJ4b9s-unsplash.jpg" style="border-radius:6px; width:100%;height:100%" alt="Image">
                </div><center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Videos/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <video loop autoplay muted style="border-radius:6px; width:100%;height:100%">
                        <source src="~/dist/Videos/recording (1).webm"
                                type="video/mp4">
                    </video>
                </div><center style="font-size:12px;font-weight:600;">Title</center>
            </div>
            <div class="col-sm-2 template-img" onclick="redirect_blank('/Images/Editor')" style="height:150px; padding:5px;">
                <div style="background-color:rgb(235,235,235);padding:20px; height:100%;width:100%">
                    <img src="~/dist/img/anita-austvika-chRIgTHFBy0-unsplash.jpg" style="border-radius:6px;width:100%;height:100%" alt="Image">
                </div>
                <center style="font-size:12px;font-weight:600;">Title</center>
            </div>
        </div>
    </div>
</section>
<script>   
</script>