@{
    ViewData["Title"] = "Home Page";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="img-container">
                    <img src="~/dist/img/credit/vasilina-sirotina-yLfHrQ70iXo-unsplash.jpg" class="img-lrg" alt="Image">
                    <div class="centered">
                        <div class="row">
                            <div class="col-sm-6">
                                <center>
                                    <h1> <i class="note-icon-table"></i></h1><hr />
                                    <span>Templates</span>
                                    <span>1412</span>

                                </center>
                            </div>
                            <div class="col-sm-6">
                                <center>
                                    <h1> <i class="note-icon-picture"></i></h1><hr />
                                    <span>Images</span>
                                    <span>114,381</span>
                                </center>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <p>hi</p>
        </div>
    </div>
</section>
